<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="css/content.css">
        <title>Firework OTA</title>
    </head>
    <body onload="AppLoaded()">
	<div id="app">
        <!-- Setting / Entries -->
        <div>
            <table>
                <thead>
                    <tr>
                        <td><b>Key</b></td>
                        <td><b>Default</b></td>
                        <td><b>Min</b></td>
                        <td><b>Max</b></td>
                        <td><b>Value</b></td>
                        <td><b>Desc</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in setting_entries">
                        <td>{{ entry.key }}</td>
                        <td>{{ entry.info.default }}</td>
                        <td>{{ entry.info.min }}</td>
                        <td>{{ entry.info.max }}</td>
                        <td><b>{{ entry.value }}</b></td>
                        <td>{{ entry.info.desc }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <!-- OTA -->
        <div>
            <table>
                <tr>
                    <td>File</td>
                    <td><input type="file" id="idFile"></td>
                </tr>
            </table>
            <button id="idBtnUpload" class="button-27" @click="idBtnUpload_Click">Upload</button>	
        </div>
        <br>
        <!-- System infos -->
        <div>
            <table>
                <thead>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Value</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sysinfo in sysinfos">
                        <td>{{ sysinfo.name }}</td>
                        <td style="overflow-wrap: anywhere;"><b>{{ sysinfo.value }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- JS -->
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/common-app.js"></script>
    <script type="text/javascript" src="js/settings-app.js"></script>
    </body>
</html>